<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="temp.css">

<body>
    <header class="fixed-top">
        <div class="container">
            <div class="row navandlogo">
                <div class="col-md-4">
                    <img src="logo.png">
                </div>
                <div class="col-md-8  mynav">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">HOME</a>
                            </li>
                            <li>
                                <a href="#about">ABOUT</a>
                            </li>
                            <li>
                                <a href="#">SERVICES</a>
                            </li>
                            <li>
                                <a href="#">PORTFOLIO</a>
                            </li>
                            <li>
                                <a href="#">BLOG</a>
                            </li>
                            <li>
                                <a href="#">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>

    </header>


    <main>
        <section id="parker">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 marky">
                        <h4>HELLO,I'M</h4>
                        <h1>MARK PARKER</h1>
                        <p>A Freelance UI Designer & Web Developer</p>
                        <a class="main-btn" href="#work">VIEW MY WORK</a>
                    </div>
                    <div class="col-md-5 myhero">
                        <img src="hero.png" style="z-index:20;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6 myicons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>


            </div>


        </section>


        <section id="about" onscroll="myFunction(event)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 myabout">
                        <h2 class="title">About Me</h2>
                        <p style="text-align:center">
                            Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur <br>
                            sagittis, urna est ultricies eros, ac porta sem turpis quis leo.
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 myhandp">
                        <h5 class="abouttitle">Hi There! I'm Mark Parker</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="row">
                            <div class="date" style="display:flex;">
                                <i class="fas fa-calendar-week" style="margin:5px;"></i>

                                <p> <span style="margin:5px;"> Date of birth:</span>
                                    8 June 1995 </p>
                            </div>
                            <div class="email" style="display:flex">
                                <i class="far fa-envelope" style="margin:5px;"></i>
                                <p> <span style="margin:5px;">Email:</span> parker@mysite.com</p>

                            </div>
                        </div>


                        <div class="row">
                            <div class="date" style="display:flex;">
                                <i class="fas fa-phone-alt" style="margin:5px;"></i>
                                <p> <span style="margin:5px;">Phone:</span> +1-202-555-0138</p>

                            </div>
                            <div class="email" style="display:flex">
                                <i class="fas fa-map-marker-alt" style="margin:5px;"></i>
                                <p>
                                    <span style="margin:5px;">Location:</span>
                                    4373, El Centro, CA
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skillabout" style="display:flex;justify-content:space-between;padding-top: 50px;">
                            <div class="skill name">
                                <h5>HTML</h5>
                            </div>
                            <div class="skillpercent">
                                <span class="percent">80%</span>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="bar1inner"></div>
                        </div>

                        <div class="skillabout" style="display:flex;justify-content:space-between;padding-top: 50px;">
                            <div class="skill name">
                                <h5>CSS</h5>
                            </div>
                            <div class="skillpercent">
                                <span class="percent">60%</span>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="bar2inner"></div>
                        </div>

                        <div class="skillabout" style="display:flex;justify-content:space-between;padding-top: 50px;">
                            <div class="skill name">
                                <h5>Photoshop</h5>
                            </div>
                            <div class="skillpercent">
                                <span class="percent">50%</span>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="bar3inner"></div>
                        </div>


                        <div class="skillabout" style="display:flex;justify-content:space-between;padding-top: 50px;">
                            <div class="skill name">
                                <h5>Sketch</h5>
                            </div>
                            <div class="skillpercent">
                                <span class="percent">90%</span>
                            </div>
                        </div>
                        <div class="skillbar">
                            <div class="bar4inner"></div>
                        </div>

                    </div>

                </div>
            </div>

        </section>



        <section id="services">
            <div class="container">
                <div class="row myservices">
                    <div class="col-md-12 servis">
                        <h1 style="text-align:center;">My Services</h1>
                        <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur
                            <br>sagittis,
                            urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div>
                </div>

                <div class="row ikonums">
                    <div class="col-md-3 ikonum">
                        <i class="fas fa-laptop-code" style="font-size:50px;"></i> <br> <br>
                        <h4>
                            <a href="#">Web Design</a>
                        </h4> <br>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis<br> blandit
                            enimdicta sunt.</p>
                    </div>
                    <div class="col-md-3 ikonum">
                        <i class="fas fa-palette" style="font-size:50px;"></i><br> <br>
                        <h4>
                            <a href="#">Graphic Design</a>
                        </h4><br>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis<br> blandit
                            enimdicta sunt.</p>

                    </div>
                    <div class="col-md-3 ikonum">
                        <i class="fas fa-mobile-alt" style="font-size:50px;"></i><br> <br>

                        <h4>
                            <a href="#">App Design</a>
                        </h4><br>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis<br> blandit
                            enimdicta sunt.</p>
                    </div>
                    <div class="col-md-3 ikonum">
                        <i class="fas fa-bezier-curve" style="font-size:50px;"></i><br> <br>
                        <h4>
                            <a href="#">Illustration Design</a>
                        </h4><br>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis<br> blandit
                            enimdicta sunt.</p>
                    </div>
                    <div class="col-md-3 ikonum">
                        <i class="fas fa-laptop-code" style="font-size:50px;"></i><br> <br>
                        <h4>
                            <a href="#">Web Development</a>
                        </h4><br>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis<br> blandit
                            enimdicta sunt.</p>
                    </div>
                    <div class="col-md-3 ikonum">
                        <i class="fas fa-laptop-code" style="font-size:50px;"></i><br> <br>
                        <h4>
                            <a href="#">Consultancy and Support</a>
                        </h4><br>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis<br> blandit
                            enimdicta sunt.</p>
                    </div>

                </div>
            </div>



        </section>
        <section id="project">
            <div class="container">
                <div class="row action">
                    <div class="col-md-12 any " style="text-align:center;">
                        <h1>Have any project on mind?</h1>
                    </div>
                    <div class="col-md-12" style="text-align:center;">
                        <p style="color:#fff">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor
                            incididunt<br> ut labore et dolore magna aliqua nostrud.</p>
                    </div>

                    <div class="col-md-12" style="display:flex;justify-content:center;">

                        <a href="#" class="download">DOWNLOAD CV</a>
                        <a href="#" class="hire">HIRE ME </a>

                    </div>

                </div>
        </section>

        <section id="recent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            My Recent Works
                        </h1>
                        <p>
                            Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur<br>
                            sagittis, urna est ultricies eros, ac porta sem turpis quis leo.
                        </p>

                    </div>


                </div>

                <div class="row ">

                    <div class="col-md-4 myimg">
                        <img src="w-1.jpg" class="pik">
                        <div class="work-content">
                            <h4 class="product">Product Design</h4>


                            <a href="">
                                <i class="fas fa-plus producti"></i>
                            </a>


                            <a href="">
                                <i class="fas fa-link producti"></i>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-4 myimg">
                        <img src="w-2.jpg" class="pik">
                        <div class="work-content">
                            <h4 class="product">Product Design</h4>


                            <a href="">
                                <i class="fas fa-plus producti"></i>
                            </a>


                            <a href="">
                                <i class="fas fa-link producti"></i>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-4 myimg">

                        <img src="w-3.jpg" class="pik">
                        <div class="work-content">
                            <h4 class="product">Product Design</h4>


                            <a href="">
                                <i class="fas fa-plus producti"></i>
                            </a>


                            <a href="">
                                <i class="fas fa-link producti"></i>
                            </a>


                        </div>
                    </div>
                </div>
                <div class="row mysecond">
                    <div class="col-md-4 myimg">

                        <img src="w-4.jpg" class="pik">
                        <div class="work-content">
                            <h4 class="product">Product Design</h4>


                            <a href="">
                                <i class="fas fa-plus producti"></i>
                            </a>


                            <a href="">
                                <i class="fas fa-link producti"></i>
                            </a>


                        </div>

                    </div>
                    <div class="col-md-4 myimg">

                        <img src="w-5.jpg" class="pik">
                        <div class="work-content">
                            <h4 class="product">Product Design</h4>


                            <a href="">
                                <i class="fas fa-plus producti"></i>
                            </a>


                            <a href="">
                                <i class="fas fa-link producti"></i>
                            </a>


                        </div>


                    </div>
                    <div class="col-md-4 myimg">

                        <img src="w-6.jpg" class="pik">
                        <div class="work-content">
                            <h4 class="product"> Product Design</h4>


                            <a href="">
                                <i class="fas fa-plus producti "></i>
                            </a>


                            <a href="">
                                <i class="fas fa-link producti"></i>
                            </a>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="display:flex;justify-content: center;">
                        <a href="#" class="main-btn" style="text-align:center;">More Works</a>
                    </div>
                </div>

            </div>
        </section>
        <section id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 " style="text-align:center;">
                        <h1>My Pricing Plans</h1>
                        <p class="myp">Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id
                            efficitur
                            <br>sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div>
                </div>

                <div class="row" style="display:flex;">
                    <div class="col-md-4 mydiv">
                        <h4 style="text-align:center" class="basic"> Basic</h4>

                        <p class="myp">Simple project management for teams and small businesses.</p>
                        <span class="mysp">$19.00</span>
                        <hr>

                        <ul style="display:flex;flex-direction:column;" class="myul">
                            <li>Unlimited Tasks</li>
                            <li>Unlimited Public</li>
                            <li>Private Projects</li>
                            <li>Unlimited Teams</li>
                            <li>All Integrations</li>
                            <li>Public API</li>

                        </ul>
                        <a href="#" class="main-btn mylastbtn">GET QUOTE</a>


                    </div>

                    <div class="col-md-4 mydiv">
                        <h4 style="text-align:center" class="basic">Standard</h4>

                        <p class="myp">Simple project management for teams and small businesses.</p>
                        <span class="mysp">$39.00</span>
                        <hr>
                        <ul style="display:flex;flex-direction:column;" class="myul">
                            <li>Unlimited Tasks</li>
                            <li>Unlimited Public</li>
                            <li>Private Projects</li>
                            <li>Unlimited Teams</li>
                            <li>All Integrations</li>
                            <li>Public API</li>
                        </ul>
                        <a href="#" class="main-btn ">GET QUOTE</a>

                    </div>

                    <div class="col-md-4 mydiv">
                        <h4 style="text-align:center;" class="basic">Premium</h4>

                        <p class="myp"> Simple project management for teams and small businesses.</p>
                        <span class="mysp">$29.00</span>
                        <hr>
                        <ul style="display:flex;flex-direction:column;" class="myul">
                            <li>Unlimited Tasks</li>
                            <li>Unlimited Public</li>
                            <li>Private Projects</li>
                            <li>Unlimited Teams</li>
                            <li>All Integrations</li>
                            <li>Public API</li>
                        </ul>
                        <a href="#" class="main-btn mylastbtn">GET QUOTE</a>

                    </div>
                </div>
            </div>
        </section>
        <section id="myblog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <h2 class="title">From The Blog</h2>
                        <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitu<br>
                            sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 skeyl">
                        <div class="capture ">
                            <img src="b-1.jpg" alt="blog">
                        </div>
                        <div class="health">
                            <h4 class="hired">
                                <a href="#">Hired Releases 2023 Brand Health.</a>
                            </h4>
                            <span>July 26, 2022</span>
                        </div>
                    </div>
                    <div class="col-md-4 skeyl">
                        <div class="capture">
                            <img src="b-2.jpg" alt="blog">

                        </div>
                        <div class="health">
                            <h4 class="hired">
                                <a href="#">Hired Releases 2023 Brand Health.</a>
                            </h4>
                            <span>July 26, 2022</span>
                        </div>
                    </div>
                    <div class="col-md-4 skeyl">
                        <div class="capture ">
                            <img src="b-3.jpg" alt="blog">

                        </div>
                        <div class="health">
                            <h4 class="hired">
                                <a href="#">Hired Releases 2023 Brand Health.</a>
                            </h4>
                            <span>July 26, 2022</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="display:flex;justify-content:center;">
                        <a href="#" class="main-btn">MORE POSTS</a>

                    </div>
                </div>
            </div>

        </section>
        <section id="touch">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <h2 class="title">Get In Touch</h2>
                        <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur<br>
                            sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6  col-lg-4 col-sm-7 divim ">
                            <i class="fas fa-map-marker-alt aykon"></i>
                            <h6 class="contact-title">Address</h6>
                            <p>123 Stree New York City , United States Of America 750</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-7 divim" style="text-align:center;">
                            <i class="fas fa-phone aykon"></i>
                            <h6 class="contact-title">Phone</h6>
                            <p>+931 2222 5555<br>

                                    +547 5554 6663</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-7 divim">
                            <i class="far fa-envelope aykon"></i>
                            <h6 class="contact-title">Email</h6>
                            <p>support@yourmail.com
                               info@helpline.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                     <div class="contact-form">
                         <form id="formum">
                             <div class="single-form">
                                 <input type="text" name="name" placeholder="Name">
                             </div>
                             <div class="single-form">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                                <div class="single-form">
                                    <textarea name="message" placeholder="Message"></textarea>
                                    <p class="form-message"></p>
                                </div>
                                <div class="single-form">
                                    <a href="#" class="main-btn">SEND MESSAGE</a>
                                </div>
                         </form>
                     </div>
                    </div>
                    <div class="col-md-6">
        
                        <div class="mapouter" style="padding-top:20px;padding-left:30px; "><div class="gmap_canvas" style="width:90%;"><iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                    </div>

                </div>
            </div>
        </section>
        <section id="footer" class="footer-area">
                <div class="container">
                    <div class="row" style="text-align:center;">
                        <div class="col-md-12">
                            <div class="logo">
                              <a href="temp.html" class="logom">
                                <img src="logo-2.png">
                              </a>  
                            </div>
                        </div>
                        <div class="col-md-12 footerp">
                            <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci-<br> didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe- <br>rcitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </p>
                        </div>
                        <div class="col-md-12 fbtwit">
                            <ul style="text-align:center;display:flex;justify-content: center;">
                                <li>
                                    <a href="#" class="footicon">
                                    <i class="fab fa-facebook-f mysocial"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter mysocial"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest mysocial"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in mysocial"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
                   
        </section>
    </main>

<footer>
    <p>Copyright © 2022. All rights reserved by You!</p>
</footer>





    <script src="https://kit.fontawesome.com/5e88d62c54.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="temp.js"></script>
</body>

</html>